/*Media*/
@media screen and (max-width:1200px){
    .container{
        width: 1140px;
    }
}
@media screen and (max-width:1190px){
    .container{
        width: 960;
    }
    .icons{
        display: none;
    }
    .main-nav{
        float: right;
    }
}
@media screen and (max-width: 991px){
    .container{
        width: 914px;
    }
    .reg_icons{
        margin: 0;
        padding: 0;
        display: inline-block;
        float: left;
        list-style-type: none;
    }
    .grid-50{
        width: 100%;
    }
    .mainp-offer::after{
        display: none;
    }
}
@media screen and (max-width: 767px){
    .container{
        width: 540;
    }
}
@media screen and (max-width: 575px){
    .container{
        width: 100%;
        padding: 0 15px;
    }
}