@import "_login";
@import "_mobile";
@import "_main";
@import "_how-section";
@import "_offer";
@import "_footer";
@import "_media";

/*Container*/
.container{
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}
/*Size*/
header, nav, section, footer, .grid{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
footer, header, main, nav, section{
    display: block;
}
/*grid*/
.grid{
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    box-sizing: border-box;
}
.grid-50{
    width: 50%;
}